[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
sqlalchemy-utils = "*"
python-dotenv = "*"

[packages]
flask = "*"
flask-restful = "*"
flask-sqlalchemy = "*"
marshmallow = "*"
flask-migrate = "*"
pymysql = "*"

[requires]
python_version = "3.7"
